.Parent{
    position: relative;
    display: block;
    background-color: #ebab81;
    box-shadow: 5px 5px 5px #ebab81;
    width: auto;
    height: 250px;
    transform: translateY(-50%,-50%);
}
.textWrapper{

    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    position: relative;
    display: block;
}
.Charter{
    position: relative;
    display: block;
    background-color:white;
    
    width: auto;
    height: 300px;
 
    
}
.textWrapperHeader{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}
.textWrapperHeader p{
    position: relative;
    display: block;
    font-size: 40px;
    
}


.img{
    position: relative;
    width: auto;
    height: 1500px;
    box-shadow: 5px 5px 5px #ebab81;
    background-image: url('../../public/HomePage2.jpg');
    background-size: cover;
    background-position: center;
   
}
.imgWrapper{
    position: relative;
    display: block;
    object-fit: cover;
}

.card{
    position: relative;
    width: auto;
    min-height: 1200px;
    background-color: #ebab81;
    display: flex;
}
.cardImg{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/TrentWithFish.PNG");
    background-size: cover;
    background-position: center;
    
}
.cardText{
    position: relative;
    display: inline-block;
    width: auto;
    background-color: #ebab81;
    flex: 1;
    font-size: 30px;
}

.cardText p{
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    padding: 5px 30px;
}
.cardText b{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 300px;
    padding-left: 20px;
    
}
.cardText body{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 400px;
    padding-left: 20px;
    
}
.cardText header{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 400px;
    padding-left: 20px;
    
}

.cardImgOne{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/Review2.png");
    background-size: cover;
    background-position: center;
}
.reviewintro{
    position: relative;
    width: auto;
    min-height: 350px;
    background-color: #ebab81;
    
}
.reviewintro p{
    position: relative;
    display: block;
    font-size: 40px;
    padding-top: 175px;
    text-align: center;
    font-weight: bold;
    
}
.cardImgtwo{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/reviewimage2.jpg");
    background-size: cover;
    background-position: center;
}
.button{
    position: relative;
    display: block;
    background-color: white;
    width: auto;
    height: 200px;
}
.button h1{
    text-align: center;
    font-size: 80px;
}


