.Parent{
    position: relative;
    display: block;
    background-color: #ebab81;
    width: auto;
    height: auto;
    transform: translateY(-50%,-50%);
}
.textWrapper{
    top: 50%;
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    position: relative;
    display: block;
    @media screen and(max-width:1200px){
        font-size: 30px;
        
    }
}
.Charter{
    position: relative;
    display: block;
    background-color:white;
    
    width: auto;
    height: auto;
 
    
}
.textWrapperHeader{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    position: relative;
    display: block;
    top: 50%;
   
    
}
.textWrapperHeader p{
    position: relative;
    display: block;
    font-size: 30px;
    
}


.img{
    position: relative;
    width: auto;
    height: 1500px;
    background-image: url('../../public/HomePage2.jpg');
    background-size: cover;
    background-position: center;

    @media screen and(max-width:1200px){
        height: 600px;
        
    }
   
}
.imgWrapper{
    position: relative;
    display: block;
    object-fit: cover;
}

.card{
    position: relative;
    width: auto;
    
    background-color: #ebab81;
    @media  screen and(min-width: 1200px) {
        display: flex;
        min-height: 1200px;
    }
    @media  screen and(max-width: 1200px) {
        display: block;
    }
}
.cardImg{
    position: relative;
    width: auto;
    padding-right: 300px;
    background-image: url("../../public/TrentWithFish.PNG");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
        
    }
    @media  screen and(max-width: 1200px) {
        height: 700px;
        position: relative;
        display: block;
        padding-bottom: 100px;
    }
    
}
.cardText{
    position: relative;
    display: inline-block;
    width: auto;
    background-color: #ebab81;
    font-size: 10px;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: auto;
        position: relative;
        display: block;
    }
}

.cardTextWrapper{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    @media screen and (min-width: 1200px){
        
       
    }
}

.cardText p{
    position: relative;
    display: inline-block;
    
    
    font-size: 20px;
    padding: 5px 30px;
}
.cardText b{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-left: 20px;
    
}
.cardText body{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 600px;
    padding-left: 20px;
    
}
.cardText header{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 400px;
    padding-left: 20px;
    
}

.cardImgOne{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/Review2.PNG");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: 600px;
        position: relative;
        display: block;
    }
    
}
.reviewintro{
    position: relative;
    width: auto;
    height: auto;
    background-color: #ebab81;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
}
.reviewintro p{
    position: relative;
    display: block;
    height: auto;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
    
}
.cardImgtwo{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/reviewimage2.jpg");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: 600px;
        position: relative;
        display: block;
    }
    
}
.button{
    position: relative;
    display: block;
    background-color: white;
    width: auto;
    height: 200px;
}
.button h1{
    text-align: center;
    font-size: 60px;
}


