.video{
    width: 100%;
    height: calc(85vh - 140px);
    overflow: hidden;
    position: relative;
    display: block;
}


.videoIteslf{
    min-width: 100vw;
    min-height: 85vh;
    position: absolute;
    display: block;
    right: 0px;
    right: 0;
    top: -0px;
}




