.video{
    position: relative;
    display:inline;
    transform: translate(-50%, -50%);
    width: 1000px;
    height:750px;
    min-width:auto;
    box-shadow: 5px 5px 5px #ebab81;
    background-color: black;
    
}


.videoWrapper{
    position: static;
    display: block;
    width: 100%;
    height:100%
    
    
    
}




